{% extends 'partials/base.html.twig' %}

{% set showImages = not page.header.showImages is same as (false) %}

{% block content %}
    <div class="portfolio-item" data-aos="zoom-in-up">
        <section class="section">
            <h1 class="mb-4">{{ page.title }}</h1>

            {{ page.content|raw }}
        </section>

        {% if (showImages and page.media.images is not empty) %}
            <section class="section section-images pt-0">
                <div class="row">
                    {% for image in page.media.images %}
                        
                        {% if not image.metadata.hide_portfolio_item_page %}
                            {% set column = image.metadata.columnWidth ? image.metadata.columnWidth : 'col-md-6' %}
                            {% set width = image.metadata.width ? image.metadata.width : 700 %}

                            <div class="image-container {{ column }} mb-4">
                                <img src="{{ image.cropResize(width, 3000).format('webp').url }}" alt="{{ image.filename }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}

        <section class="section pt-0 prev-next text-center">
            {% if not page.isFirst %}
                <a class="previous" href="{{ page.nextSibling.url }}"><i class="bi bi-chevron-left"></i> Previous</a>
            {% endif %}

            {% if not page.isLast %}
                <a class="next" href="{{ page.prevSibling.url }}">Next <i class="bi bi-chevron-right"></i></a>
            {% endif %}
        </section>
    </div>
{% endblock %}