{% extends 'partials/base.html.twig' %}

{% set showImages = not page.header.showImages is same as (false) %}

{% block content %}
    <div class="portfolio-item" data-aos="zoom-in-up">
        <section class="section">
            <h1 class="mb-4">{{ page.title }}</h1>

            {{ page.content|raw }}
        </section>

        {% if (showImages and page.media.images is not empty) %}
            <section class="section section-images pt-0">
                <div class="row">
                    {% for image in page.media.images %}
                        
                        {% if not image.metadata.hide_portfolio_item_page %}
                            {% set column = image.metadata.columnWidth ? image.metadata.columnWidth : 'col-md-6' %}

                            <div class="image-container {{ column }} mb-4">
                                <img src="{{ image.cropResize(640, 3000).url }}" alt="{{ image.filename }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}